<html>
  <head>
    <meta charset="utf-8">
    <!-- Material Design Lite -->
    <script src="/material.min.js"></script>
    <link rel="stylesheet" href="/material.min.css">
    <!-- Material Design icon font -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
  </head>
  <body>
<!-- Event card -->
<style>
body {
  background: #fafafa;
}
.demo-card-event.mdl-card {
  width: 80%;
  height: 256px;
  background: rgb(249, 92, 42);
  margin: 10px auto;
  margin-top: 5%;

}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
</style>
<h1 style="text-align: center;margin-top:10%;">やったね！</h1>
<div class="demo-card-event mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h3>
      やったね！<ruby>正解<rp>(</rp><rt>せいかい</rt><rp>)</rp></ruby>だよ<br><br>
      スタンプを<ruby>押<rp>(</rp><rt>お</rt><rp>)</rp></ruby>してもらってね！
    </h3>
  </div>
</div>
</body>
</html>